.container
  .row
    .col-xs-12.col-sm-4
      //- picture
      //-   source( srcset="./images/large/artist.jpg" media="(min-width: 1000px)")
      //-   source(srcset="./images/medium/artist.jpg" media="(min-width: 800px)")
      img.avatar.img-fluid(srcset="./images/large/artist.jpg" alt="Calina Lefter portret - 2015")
      .hidden-md-up
        include address
    .col-xs-12.col-sm-8.col-md-4
      .my-2.px-2
        h1.display-1 About me
        //-h2.display-2 In Life
      .px-2
        p
          | In
          strong  1988
          |  I began to study painting school in my hometown Telenesti.
          br
          | In
          strong  1993
          |  I transferred to Iasi where I began to study art at the School "Octav Bancila".
        p
          | Later I attended the Academy of Arts Nicolae Grigorescu from Bucharest.
          br
          | I completed 14 years of education in art, becoming a member of Artists Union
        p
          | In
          strong  2008
          |  I was established in Milan for about 8 years in a quiet suburb LOMAGNA.
          br
          strong 2016
          | - I embraced a new road in London.
    .col-xs-12.col-sm-4.col-md-3
      .hidden-md-down
        //- p next to picture
        include address
        p.text-left.ml-2
          a.btn_ghost.btn-brand_ghost.btn-block(href="/gallery_calinalefter")
            strong View my Artwork
            br
          i (made by Calina Lefter)
      //- picture
        source( srcset="gallery/large/fog-time_artwork-by-Calina-Lefter_1.jpg" media="(min-width: 1000px)")
        source(srcset="gallery/medium/fog-time_artwork-by-Calina-Lefter_1.jpg" media="(min-width: 800px)")
        img.img-responsive(srcset="gallery/small/fog-time_artwork-by-Calina-Lefter_1.jpg" alt="#{titleArtork} - #{yearBy}")
  hr
  .row
    .col-xs-12
      h2.display-1.mb-2.px-2 Exhibition
    hr
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      .px-2
        h1.display-3 2015
        ul.list-unstyled
          li
            p
              strong EXPO Milano 2015
              | -
              a(href="http://www.romaniaexpo2015.ro/arhiva-stiri-comunicate/sase-artisti-romani-din-milano-expun-la-pavilionul-romaniei-de-la-expo/")
                | group exhibition,
              | Romanian pavilion,
              br
              | 01/07/ 2015 - 31/10/2015
        h1.display-3 2013
        ul.list-unstyled
          li
            p
              strong EXPO - Milano
              | - collective,
              a(href="http://www.superstudiogroup.com/" title="Superstudio Pi") Superstudio Pi,
              | Milano - 07-10 - 2013, with
              a(href="http://www.openartmilano.it/") Openart
          li
            p
              strong
                | Alchemy study materials -
                span(lang="it") (Ricerca alchimie materiale)
              | - personal,
              a(href="http://www.arcilaloco.org/" title="Arci La Lo.Co.")  Arci La Lo.Co. ,
              | Lecco, 2013
          li
            p
              strong Affordable Art Fair Milano 2013
              | - collective,
              a(href="http://www.superstudiogroup.com/" title="Superstudio Pi") Superstudio Pi,
              | Milano - 07-10 - 2013, with
              a(href="http://www.openartmilano.it/") Openart
        hr
        h1.display-3 2012
        ul.list-unstyled
          li
            p
              strong Tactile Alchemy -
                span(lang="it") (Alchimie tattili)
              | - personale - Castelli Gallery, Milano, 2012
          li
            p
              strong Group exhibition of painters
              // -Mostra collettiva dei pittori
              | - Circolo di Cultura E. Cimbali, Bronte, 2012, Milano, 2011

        //- picture
          source( srcset="./images/cold-winter-night_artwork-by-calina-lefter/large/cold-winter-night_artwork-by-calina-lefter_sim.jpg" media="(min-width: 1000px)")
          source(srcset="./images/cold-winter-night_artwork-by-calina-lefter/medium/cold-winter-night_artwork-by-calina-lefter_sim.jpg" media="(min-width: 800px)")
          img.img-fluid(srcset="./images/cold-winter-night_artwork-by-calina-lefter/small/cold-winter-night_artwork-by-calina-lefter_sim.jpg" alt="#{titleArtork} - #{yearBy}")
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      .px-2
        h1.display-3 2011
        ul.list-unstyled
          li
            p
              strong Selected art works
              //-Opere selezionate
              | - personal -
              a(href="http://www.openartmilano.it/") Openart
              | , Milano, 2011
        hr
        h1.display-3 2010
        ul.list-unstyled
          li

            p
              strong ObraXmas
              | - group -
              a(href="http://www.obraz.it/") Obraz gallery
              | , Milano, 2010
          li
            p
              strong Real different Romania -
                span(lang="it") (La Vera Altra Romania).
              | Famous Romanians in the World - group exhibition - Palazzo Chianini Vincenzi, Arezzo, 2010
              //- Famosi Romeni nel Mondo - collettiva - Palazzo Chianini Vincenzi, Arezzo, 2010
          li
            p
              strong Floral Symphony -
                span(lang="it") (Sinfonia Floreale).
              | Public exhibition - group exhibition curated by Vera Agosti, Palazzina Liberty, Milano, 2010
          li
            p
              strong After East
              | - group exhibition curated by Vera Agosti, The New Ars Italica, Milano, 2010
          li
            p
              strong Tremuit Terra
              | - group exhibition curated by Vera Agosti, Spazzio Taccori, Milano, 2010
          li
            p
              strong A brand new world -
              | Infinite Visions of Possible Worlds -
              span(lang="it") Infinite Visioni di Mondi Possibili
              br
              | - group exhibition curated by Daniela Ambrosio, Ligera Gallery, Milano, 2010.
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      .px-2
        h1.display-3 2018-2001
        ul.list-unstyled
          li
            p
              strong Contemporary attitudes
              | - group exhibition - National Salon – art contest, Bucharest, Sibiu, Hunedoara, Deva, Constanta, 2008
          li
            p
              strong Shape and Color
              | - group exhibition - "U" Art Gallery, Bucharest, 2003
          li
            p
              strong Exhibition of the license work of art
              | - group exhibition curated by Constantin Aslan, Architecture University, Bucharest, 2002
          li
            p
              strong Highlights and Marks
              | - group exhibition - Home Art, Bucharest, 2002
          li
            pGallery
              strong "Popa´s"
              | - group exhibition - Timisoara, 2002
          li
            p
              strong Acvarium
              | - group exhibition - Museum of Romanian Peasent, Bucharest, 2001
          li
            p
              strong National Exhibition
              | - group exhibition - Belvue Gallery, Predeal, 2000
    .col-xs-12.col-sm-6.col-md-12.col-lg-3
      picture
        source( srcset="./images/cold-winter-night_artwork-by-calina-lefter/large/cold-winter-night_artwork-by-calina-lefter_sim.jpg" media="(min-width: 1000px)")
        source(srcset="./images/cold-winter-night_artwork-by-calina-lefter/medium/cold-winter-night_artwork-by-calina-lefter_sim.jpg" media="(min-width: 800px)")
        img.img-fluid.mb-2(srcset="./images/cold-winter-night_artwork-by-calina-lefter/small/cold-winter-night_artwork-by-calina-lefter_sim.jpg" alt="Cold winter night - artwork by Calina Lefter")
      .px-2
        h1.display-3 1999
        ul.list-unstyled
          li
            p
              strong Flower Fair
              | - group exhibition - Museum of Romanian Peasent, Bucharest, 1999
          li
            p
              strong Studentfest
              | - collettiva - Timisoara Gallery, Timisoara, 1999
          li
            p
              strong Gheorghe Naum
              | - group exhibition - National Gallery Braila, 1996
          li
            p
              strong M.BIT televised Exhibition
              | - personal - Iasi, 2002
          li
            p
              strong Colors of the world
              | - personal - Book House, Iasi
          li
            p
              strong Deformation of the Frame
              | - personal - Round Hall, Iasi, 2001
      //- .well
        //- Add this code to Organization page:
        div( itemscope itemtype="http://schema.org/LocalBusiness")
          meta( itemprop="description" content="Official page artist Calina Lefter")
          link(itemprop="url" href="http://calinalefter.com" rel="author")
          a(itemprop="url" href="http://calinalefter.com")
            span( itemprop="name" style="display:block")
              strong Calina Lefter
          div( itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
            span( itemprop="streetAddress" style="display:block;") via 4 Novembre
            span(itemprop="postOfficeBoxNumber" style="display:block;") 29
            div
              span( itemprop="addressLocality" style="display:block;") Lomagna,
              span(itemprop="addressRegion" style="display:block;") Lecco
            span( itemprop="postalCode" style="display:block;") 23871
            span( itemprop="addressCountry" style="display:block;") Italy
  hr
  .row
    .col-md-12.mt-3
      h1.pl-2.display-1.mb-2 Recensioni
    .col-md-6
      blockquote.px-2
        p(lang="it")
          | "Calina Lefter parte dalla visione realistica del paesaggio per creare mondi irreali tessuti con minuzia e costruiti, attraverso l’inserimento di materiali eterogenei, come minuscoli gioielli.
          | I paesaggi - ora astratti, ora volutamente fedeli alla verità della natura – appaiono come meditate fughe che riproducono, grazie alla morbidezza della stoffa e alla delicatezza dei materiali, visioni di mondi lontani, placidi rifugi in cui è impossibile percepire la ruvidezza della realtà."
        footer Daniela Ambrosio in
          cite(title="Source Title") Source Title
      hr
      picture.hidden-xs
        picture
          source( srcset="./images/red-jellyfish_artwork-by-calina-lefter/large/red-jellyfish_artwork-by-calina-lefter_1.jpg" media="(min-width: 1000px)")
          source(srcset="./images/red-jellyfish_artwork-by-calina-lefter/medium/red-jellyfish_artwork-by-calina-lefter_1.jpg" media="(min-width: 800px)")
          img.img-fluid.mb-2(srcset="./images/red-jellyfish_artwork-by-calina-lefter/small/red-jellyfish_artwork-by-calina-lefter_1.jpg" alt="red jellyfish - artwork by Calina Lefter")
      p.px-2.py-2
        a.btn_ghost.btn-brand_ghost.btn-block(href="/gallery_calinalefter")
          strong View my Artwork
          br
        i (made by Calina Lefter)
    .col-md-6
      h3.pl-2
        | Alchimie tattili
      blockquote.px-2
        p(lang="it")
          | Artista dalla vena poetica e introspettiva, Calina Lefter prende spunto dalla visione reale del paesaggio per creare mondi immaginari di notevole intensità lirica, arricchiti da bagliori luminosi e interessanti contrasti polimaterici.
          br
          br
          | I soggetti preferiti sono paesaggi naturali di grande respiro, colti in momenti particolari del giorno e testimoni del progressivo mutare delle stagioni, oppure nature morte in interni casalinghi di impronta metafisica, in cui il tempo appare tanto dilatato da apparire quasi assente.
          | Tutto giace sospeso tra realtà e sogno, in una dimensione intima e interiore che vive di memoria e di attesa. Osservando con attenzione i suoi lavori si percepisce una stratificazione di materia, ma anche di significato, lenta e graduale, curata e metodica, tesa al raggiungimento finale di un'armonia compositiva in grado di attrarre lo spettatore in un contesto nuovo e sensuale. E' difficile resistere alla tentazione di toccare con la mano le superfici tattili dei suoi dipinti: increspature di colore, dripping, e una notevole varietà di tessuti, ora morbidi, ora più rigidi, ora lisci e ora traforati, sembrano aspettare noi per riportarci col ricordo a sensazioni già vissute in precedenza. Il dialogo tra materiali tanto diversi è stretto e serrato, un gioco compositivo che rivela uno sperimentalismo vivace e appassionato intento a lasciare la materia libera di esprimersi attraverso quelle proprietà che sono proprie. L'artista sembra orchestrare con maestria modulazioni tonali che, succedendosi l'un l'altra, suggeriscono un ritmo brillante e ben calibrato, fatti di lunghe pause e contrappunti. Le ampie campiture di colore, animate da innumerevoli stesure di colore, si alternano a elementi dotati di una propria specificità e curati nel dettaglio, costringendo l'occhio a seguire un percorso irregolare e a soffermarsi su certi dettagli per poi, mentalmente, ricostruire una “propria” visione d'insieme che non è solo il dato visivo suggerito dalla pittrice ma una visione unica e personale.
          br
          br
          | I titoli stessi delle opere, “Gocce di stelle”, “Oggi piove”, “In attesa della cena” e “Notturno invernale”, rivelano questo desiderio di fermare un particolare attimo della propria vita, di cristallizzarne gli stati d'animo, per trasporre sulla tela un sentimento che possa essere colto e condiviso da altri.
          | Rivelano anche sentimenti contrastanti; una delicata e avvolgente malinconia di fondo, stemperata nella visione calda e luminosa di paesaggi naturali tanto cari ed amati, dove ritemprare l'animo affaticato dagli affanni della vita quotidiana.
          | Non si tratta di una fuga dalla realtà in senso stretto ma della ricerca di un luogo di pace e tranquillità, in cui potersi perdere e ritrovare, per poi osservare con sguardo nuovo le tante meraviglie che ci circondano."
        footer Emanuela Rindi in
          cite(title="Source Title") Source Title
