//- Add this code to Organization page:
.card.my-2.py-2.address
  .px-2( itemscope itemtype="http://schema.org/LocalBusiness")
    meta( itemprop="description" content="Official page artist Calina Lefter")
    link(itemprop="url" href="http://calinalefter.com" rel="author")
    a(itemprop="url" href="http://calinalefter.com")
      span( itemprop="name" style="display:block")
        strong.display-4 Calina Lefter
    div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
      span( itemprop="streetAddress" style="display:block;") Fleetham Gardens
      span(itemprop="postOfficeBoxNumber" style="display:block;") 123
      div
        span( itemprop="addressLocality" style="display:block;") Earley
        span(itemprop="addressRegion" style="display:block;") Kent
      span( itemprop="postalCode" style="display:block;") RG6 4BZ
      span( itemprop="addressCountry" style="display:block;") United Kingdom
