.container
  .my-3
    h2 Thank you for your message
    //p I will come to you with details about this offert (#{contactSource})
a.text-xs-center.view_all(href="/gallery_calinalefter/all") Go back to my gallery ...
